[submodule "ee_data_pipeline_common"]
	path = ee_data_pipeline_common
	url = git@github.com:jayson-ee/ee_data_pipeline_common.git
[submodule "definitions/ee_data_pipeline_common"]
	path = definitions/ee_data_pipeline_common
	url = git@github.com:jayson-ee/ee_data_pipeline_common.git
